{
  "project_info": {
    "project_number": "TU_PROJECT_NUMBER",
    "project_id": "tu-project-id",
    "storage_bucket": "tu-project-id.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:TU_PROJECT_NUMBER:android:XXXXXXXX",
        "android_client_info": {
          "package_name": "com.guiagym"
        }
      },
      "oauth_client": [
        {
          "client_id": "TU_PROJECT_NUMBER-xxxxxxxxxxxx.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "TU_API_KEY_FIREBASE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "TU_PROJECT_NUMBER-xxxxxxxxxxxx.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
